/* Geral */
* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: linear-gradient( #FF8C00, #e4b404 100%);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-position: center;
  background-size: cover;
}

.hide {
  display: none !important;
}
.TextH1{
  position: relative;
  font-size: 60px;
  color: #fff;
  bottom: 175px;
  text-align: center;
}
.container {
  background-color: #e4b404;
  padding: 2rem;
  display: contents;
  align-items: center;
  color: #fdfdfd;
  max-width: 400px;
}

/* Form */

#search{
  display: flex;
  border: none;
  background-color: #6aff0000;
  position: relative ;
  left: 390px;
  top: -180px;
  width: 40px;
  height: 40px;
}


.form input {
  background-image: url('../img/loupe.png');
  background-repeat: no-repeat;
  background-position: 290px;
  background-size: 30px;
  font-size: 120%;

  padding: 0.8rem;
  border: none;
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 15px;
  width: 300px;
  bottom: 140px;

  
}
@media(max-width: 520px){
  #search{
    display: flex;
    border: none;
    background-color: #6aff0000;
    position: relative ;
    left: 365px;
    top: -180px;
    width: 40px;
    height: 40px;
  }
}
@media(max-width: 425px){
  #search{
    display: flex;
    border: none;
    background-color: #6aff0000;
    position: relative ;
    left: 315px;
    top: -180px;
    width: 40px;
    height: 40px;
  }
}

@media(max-width: 380px){
  .TextH1{
    position: relative;
    font-size: 60px;
    color: #fff;
    bottom: 165px;
    text-align: center;
  }
  
  #search{
    display: flex;
    border: none;
    background-color: #6fff0900;
    position: relative ;
    left: 270px;
    top: -180px;
    width: 40px;
    height: 40px;
  }

  .form input {
    height: 15px;
    width: 245px;
    bottom: 140px;
    background-position: 230px;
    font-size: 15px;
  }
}

@media(max-width: 280px){
  #search{
    display: flex;
    border: none;
    background-color: #6fff0900;
    position: absolute ;
    left: 230px;
    top: 190px;
    width: 40px;
    height: 40px;
  }


}

@media(min-width: 720px){
  .TextH1{
    position: relative;
    font-size: 75px;
    color: #fff;
    bottom: 170px;
    text-align: center;
    
  }

  #search{
    position: relative;
    left: 570px;
    top: -190px;
    height: 40px;
    width: 40px;
    background-color: #87f50000;
  }
  
  .form input {
    background-image: url('../img/loupe.png');
    background-repeat: no-repeat;
    background-position: 520px;
    background-size: 30px;
    font-size: 170%;
    
    padding: 0.8rem;
    border: none;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 20px;
    width: 540px;
    bottom: 150px;
  
  }
 
  
}
/* Clima */
.temperature{
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  color: rgb(53, 49, 49);
  padding-top: 4rem;
}

#tempMin{
  display: flex;
  color: rgb(53, 49, 49);
  padding-top: 1.5rem;
  position: absolute;
  bottom: 0px;
  left: 24px;

}


#tempMax{
  display: flex;
  color: rgb(53, 49, 49);
  position: absolute;
  left: 80px;
  bottom: 0px;
}

#Min{
  display: flex;
  justify-content:flex-start;
  position: absolute;
  bottom: -25px;
  left: 24px;
  color: rgb(0, 0, 0);
}
#Max{
  display: flex;
  justify-content:flex-start;
  position: absolute;
  left: 80px;
  bottom: -25px;
  color: rgb(0, 0, 0);
}


/* Clima */

.city{
  position: absolute;
  font-size: 20px;
  left: 180px;
  color: black;

}


.weather-data{
  position: relative;
  bottom: 110px;
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}
.weather-data h1{
  display: flex;
  position: absolute;
  left: 20px;
}
/* Loader */
